<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|stripTags|trim}{/block} | Úkolníček</title>

	<link rel="stylesheet" href="{$basePath}/css/screen.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<div id="header">
	<div id="header-inner">
		<div class="title"><a href="{link Homepage:}">Úkolníček</a></div>

		<div class="user" n:if="$user->isLoggedIn()">
			<span class="icon user">{$user->getIdentity()->name}</span> |
			<a n:href="User:password">Změna hesla</a> |
			<a n:href="Sign:out">Odhlásit se</a>
		</div>
	</div>
</div>

<div id="container">
	<div id="sidebar">
		{if $user->isLoggedIn()}
		<h2><a n:href="Homepage:">Přehled</a></h2>

		<div class="task-lists">
			<h2>Seznamy</h2>
			<ul>
				<li n:foreach="$lists as $list"><a n:href="Task: $list->id">{$list->title}</a></li>
			</ul>
		</div>

		<fieldset>
			<legend>Nový seznam</legend>
			{form newListForm}
				<div class="new-list-form">
					{control $form errors}

					{input title}
					{input create}
				</div>
			{/form}
		</fieldset>
		{/if}
	</div>

	<div id="content">
		{snippet flashMessages}
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{/snippet}

		{include #content}
	</div>

	<div id="footer">
		<a href="http://doc.nette.org">Nette Framework Quick Start example</a>
	</div>
</div>

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
