/*** Layout ***/
body {
	font: 14px/1.5 sans-serif;
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #222;
}

#header {
	background: #333;
	border-bottom: 5px solid #E4E2DA;
}

#header div.title {
	color: white;
	padding: 8px 0;
	font-size: 150%;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

#header a {
	color: #FFF499;
}

#header div.user {
	padding: 12px 1em;
	color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
}

#header-inner {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

#container {
	overflow: hidden;
	width: 900px;
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 210px;
}

#content {
	margin-left: 220px;
	padding: 20px;
}

#footer {
	margin: 2em;
	text-align: center;
	font-size: smaller;
}


/*** Navigation ***/
div.task-lists ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

div.task-lists li {
	display: block;
}

div.task-lists a {
	text-decoration: none;
	display: block;
	font-size: 120%;
}


/*** Typo ***/
h1 {
	font-size: 230%;
	font-weight: normal;
	margin: 0 0 .6em;
}

h2 {
	font-size: 140%;
	font-weight: normal;
	margin: 1em 0 .6em;
}

a {
	color: #006aeb;
	text-decoration: none;
	border-radius: 3px;
}

a:hover, a:active, a:focus {
	background-color: #006aeb;
	color: #ffffff;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1em 0 2em;
}

thead th {
	text-align: left;
	color: #666;
}

th, td {
	padding: 5px 6px 4px;
}

td {
	border-top: 1px solid #F2EEE1;
}

tr.even {
	background-color: white;
}

tr.odd {
	background-color: #FCFAF5;
}

table.tasks tr.done {
	color: #888;
	text-decoration: line-through;
}

table.tasks .created {
	font-size: smaller;
	width: 70px;
	text-align: right;
	white-space: nowrap;
	color: #A07D1F;
}

table.tasks .list {
	width: 65px;
}

table.tasks .user {
	font-size: smaller;
}

table.tasks .action {
	width: 75px;
}


/*** Forms ***/
fieldset {
	border: none;
	margin: 1.5em 0;
	padding: 1ex 0;
}

legend {
	font-weight: bold;
	margin-left: 0;
}

label {
	font-weight: bold;
}

form div.pair {
	margin-bottom: 1ex;
}

form div.pair label {
	display: block;
	width: 130px;
	text-align: right;
	float: left;
	line-height: 2;
	vertical-align: middle;
}

form div.pair div.input {
	margin-left: 150px;
}

form div.pair div.input label {
	width: auto;
	display: inline;
	float: none;
	line-height: normal;
}

form ul.error {
	margin: 0;
	padding: 0;
	list-style: none;
}

form ul.error li {
	display: block;
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

input[type=text], input[type=password], select {
	border-radius: 3px;
	border: 1px solid silver;
	padding: .3em;
	margin-right: .5em;
}

input[type=checkbox] {
	vertical-align: middle;
}

/*** Flash messages ***/
div.flash {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash.error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}


/*** Icons ***/
.icon {
	padding-left: 24px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.icon.tick {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNpi/P//PwNdgVsnw38QJkuzYxvD/3c/JoIxiE2y5idfmv/P2sQAxk+/NoJdwkKs5sV5zQzbj9QyMLAyMDACxb7/f4eqyB1omjsWvzkBNd/+XPR/1h6G/zOBePZehv+XPsX/d4J4wRiu6MqnOCCGS0DEW4GKPyb8n30Q6OwDQM2HQJoTUDWDbD37we//7GNABUcZ/p967//foZkBjEFskPgsoPgcIH36gz+qZiBggfuHmYHhH1Dqwq2NDLVpNmBJEJuBCehnIFZTsWOomLaRYV8VgwlQ6izMAJB+Y5c2hjOlqboMj59cZvj3j4EBlrYYgbJMQM2yMroMXbMvM+xF0wwCQHsZnt/by7DlheCrNAd7WYYfPz4x/AfZCpRhBsaRiIQsw4Q5t7FqRgcgl/xf+Zz7/9wbDGAMYrug+ZkQMHYFalj9khuMXUnUDDfEExgznp3kaYYbQqxmRkqzM0CAAQBWbMG1YQFlxwAAAABJRU5ErkJggg==");
}

.icon.user {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNqcU89rE0EYfZNsto1rbdUmofUgmoOWQIm/EOtB7aUIpfRWL148eVOwf0FO4g8oWIpHvRhPQvHeixSRWooptVVIrEnRpkk2+yM7s7PdzbpJKIaykeCD4YNv3nvzzcz3Edd1cQBCSDM+unk8TgQsRwfDMZO7kGVeDAXd60+XqtnGfrsmAB/sO1i8cmkwlkyexbmROELSQEyrYdGP62vQEyYJUZQQEE8gGIogQCRYNhJdG1jcxs8dDdQSMXI5gYnpMTi240eF4JekhokHC8/BC79RlVVIx4JwLIauK+CmlUapBKWiQJUVL8oQROdl1wYr9pnU8koeVNfADB1beQOvM/VUVwYTL7bTY6m1TRa9he8/dvFp7RsKQhL332m/bs9vv/3nG9x4/GXvzgUpcvV8P4YqFF9zDo6GOIZ6dzE13oePG3zGfJIZ96hRX4PhvkBk9FQY6XWGexcnce3uJEYpxUaR4U2GY/r0Eei6Gel4harKkC1zr/NqmFsqATZD3Vvp9ToqZR25sgXDoJ2vUFIoCvI+NI2h8e0zr4wWyTtGCBLkK71g1OxsUCiqWM1VcXJAQrPdD1qetObkc1YBY7yzAc19ePi+Rp85bivfpm/CK8J291Zngam/A3hoGvu9EG/THEaDnPU0qq/B/+CPAAMAQ2jaR3QERSQAAAAASUVORK5CYII=");
}

.icon.edit {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXxJREFUeNqU0s1LAkEYBvDHsK4FJXmQOmR1iaLyov9Ah4g+Dt3qVEJU9xCkIFAp6LAlBIYQ3oMIukhKSUaFH+mlukggRWuipeLX2jS7ZGDaMg3swszu79l93xngH+Nhy0eitjNSnRNC0MSK161W0jrUC9KlRnTb8xPCFGCy7JKVpWXsh53I81nEsxUEzUeEKeDaPEJMc33g7E6Mj03A/XmOcqYMIclLzxVy2G/WE/20CkjEEWtZgOuWYHBAC++VF9ymTUd7EFDI4hk1wL8BKXplXhFpW8VhSIEdy4aOvhIQm6iQx0mKU0D2na4W4AprML8XlPCfu1CPP2ihAg4i/TW44S40xmU47rRY5Hx1uCbgUgYbuYuGWBxK8eZb0xHDlOq7YWlmLAUkjidJx7AeeHQDSRqQy9H/EpiwVAIpVmhMJ0rds0BRoF8uMmMp4OS+HaeeJyhLeUBjgCPUw4ylEmJ8CS/PN9Cmm1EoKGG0+5lx9SiP/lpjxuJB+hJgAG9My8C+hsJpAAAAAElFTkSuQmCC");
}
